postfinance-response-ok.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="orderid"/>
        <xs:element type="xs:string" name="commPerc"/>
        <xs:element type="xs:string" name="convAmt"/>
        <xs:element type="xs:string" name="convCcy"/>
        <xs:element type="xs:string" name="reference"/>
        <xs:element type="xs:string" name="exchRate"/>
        <xs:element type="xs:string" name="exchRateSource"/>
        <xs:element type="xs:string" name="exchRateTS"/>
        <xs:element type="xs:string" name="marginPerc"/>
        <xs:element type="xs:string" name="valid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
